@mixin font($fw, $fs, $lh, $ls) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
}
@mixin min-mobile {
    @media screen and (min-width: 320px) and (max-width: 767px) {
          @content;
   }
}
@mixin max-mobile {
    @media screen and (max-width: 767px) {
          @content;
   }
}
@mixin only-tablet {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
          @content;
   }
}
@mixin mobile {
   @media screen and (min-width:320px) {
           @content;
       }
}
@mixin tablet {
   @media screen and (min-width:768px) {
       @content;
   }
}

       @mixin desktop {
       @media screen and (min-width:1280px) {
           @content;
           }
}
@mixin max-desktop {
    @media screen and (max-width:1279px) {
        @content;
        }
}
@mixin retina {
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            @content;
        }
}