<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="logo" href="./index.html">SHOP FOR GAMERS</a>
      <svg height="36" width="54">
        <use href="./images/icons.svg#icon-menu-burger"></use>
      </svg>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="./accessories.html">Accessories</a>
        </li>
        <li class="nav-list-item">
          <a href="./contacts.html">Contact</a>
        </li>
        <li class="nav-list-item">
          <a href="./blog-page.html"> Blog</a>
        </li>
      </ul>
    </nav>
    <a class="nav-button" href="">Shop now</a>
  </div>
</header>
