.blog-article {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 40px;
  padding-bottom: 48px;
  max-width: 480px;
  background-image: url(../images/blog-article-img/mobile/Vector\ 26.svg),
    url(../images/blog-article-img/mobile/Vector\ 27.svg),
    url(../images/blog-article-img/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain, contain, cover;
  background-position: 0px 70px, 0px 74px, 0px 0px;

  @media screen and (min-width: 768px) {
    background-image: url(../images/blog-article-img/tablet/Vector\ 24.svg),
      url(../images/blog-article-img/tablet/Vector\ 22.svg),
      url(../images/blog-article-img/bg-tablet.jpg);
    background-repeat: no-repeat;
    background-size: contain, contain, cover;
    background-position: 0px 228px, 0px 236px, 0px 0px;

    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/blog-article-img/desktop/Vector\ 24.svg),
      url(../images/blog-article-img/desktop/Vector\ 22.svg),
      url(../images/blog-article-img/bg-desktop.jpg);

    background-repeat: no-repeat;
    background-size: contain, contain, cover;
    background-position: top 168px right 0px, top 176px right 0px, top right;

    max-width: 1280px;
    padding-top: 112px;
  }
}

.blog-article-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-text-color);

  text-align: left;

  margin-bottom: 31px;
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1;

    margin-bottom: 72px;
    max-width: 688px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 100%;

    margin-bottom: 65px;
  }
}

.blog-article-wrap {
  display: flex;
  flex-direction: column;

  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    display: block;
    margin-bottom: 24px;
  }
}

.blog-article-author-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 240px;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
  }
}

.blog-article-img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 40px;
    border-radius: 12px;
    overflow: hidden;
  }

  @media screen and (min-width: 1280px) {
    float: left;
    margin-right: 121px;
    margin-top: 60px;
  }
}

.blog-article-author {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;

  color: var(--primary-text-color);

  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    color: var(--accent-color);

    margin-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0px;
  }
}

.blog-article-date {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;

  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.blog-article-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);

  margin-bottom: 23px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;

    margin-bottom: 35px;
  }
}

.blog-article-text.desktop {
  margin-bottom: 48px;
}

.blog-article-list {
  list-style-type: style;
  margin-bottom: 23px;

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }
}

.blog-article-list-title,
.blog-article-list {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
    color: var(--accent-color);
  }
}

.blog-article-list {
  padding-left: 24px;

  @media screen and (min-width: 768px) {
    padding-left: 35px;
  }
}
