.contacts {
    padding-top: 40px;
    padding-bottom: 48px;

    @media screen and (min-width:768px){
    padding-top: 120px;
    padding-bottom: 120px;}
}

.contacts-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    color: green($color: #000000)
}

.contacts-picture {
    width: 320px;
    height: 346px;
    margin-top: 35px;
    margin-bottom: 16px;

    @media screen and (min-width:768px){
        width: 688px;
        height: 346px;
        border-radius: 12px;
        margin-top: 67px;
        margin-bottom: 32px;}  
    
    @media screen and (min-width:1200px){
        width: 1200px;
        height: 346px;
        margin-top: 75px;
        margin-bottom: 57px;}
}

.contacts-text {
    font-size: 16px;
    line-height: 1.19;

    @media screen and (min-width:768px){
        font-size: 24px;
        line-height: 1.17;}
}

.contacts-mail{
    display: block;
    margin-bottom: 19px;

    @media screen and (min-width:768px){
        margin-bottom: 28px;}
}

.contacts-link {
    font-size: 16px;
    line-height: 1.19;
    color: $secondary-text-color;
    margin-top: 8px;

    @media screen and (min-width:768px){
        font-size: 24px;}
}

.contacts-address {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;

    @media screen and (min-width:768px){
        flex-direction: row;
        gap:32px;
        margin-top: 32px;
        margin-bottom: 40px;}

    @media screen and (min-width:1200px){  
        flex-direction: column;  
        gap: 40px;
        margin-top: 40px;}
}

.contacts-thumb{
    @media screen and (min-width:1200px){  
        display: flex;
        gap: 123px;}
}
.contacts-label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contacts-line{
    margin-bottom: 40px;
}

.contacts-accent-text {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    color: $accent-color;
    margin-bottom: 16px;

    @media screen and (min-width:768px){
        font-size: 36px;
        margin-bottom: 48px;}  
}

.modal__row {
    display: block;
    height: 24px;
    width: 100%;
    border-bottom: 1px solid $accent-color;
    outline: none;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }

    @media screen and (min-width:768px){
        width: 590px;

        &::placeholder {
        font-size: 18px;
        line-height: 1.11;
    }}
}

.contacts-label-title{
    color: #CDCDCD;
    font-size: 16px;
    line-height: 1.25;

    @media screen and (min-width:768px){
        font-size: 18px;
        line-height: 1.11;
    }
}

.modal__textarea {
    resize: none;
    margin-bottom: 24px;
    height: 95px;
    width: 100%;
    border: 1px solid $accent-color;
    outline: none;

    @media screen and (min-width:768px){
        width: 589px;
        height: 120px;
}}

.button--send {
    margin-top: 24px;
    padding: 16px 66px;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width:768px){
    margin-top: 34px;
    padding: 16px 112px;
    font-size: 32px;}

    @media screen and (min-width:768px){
    margin-top: 47px;
    margin-left: 0;}
}

.contacts-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 20, 20, 0.8);
    opacity: 1;

    transition: opaсity 250ms linear;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.is-hidden .contacts-modal {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    visibility: hidden;
}

.contacts-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: calc(320px - 48px);
    opacity: 1;
    background-color: $background-color;
    padding: 100px 29px;

    transition: transform 250ms linear, opacity 250ms linear;

    @media screen and (min-width:768px){
        width: calc(769px - 80px);
        padding: 88px 5px;}  

    @media screen and (min-width:1200px){
        width: calc(1280px - 512px);
        padding: 88px 65px;}  
}

.contacts-modal-text {
    display: block;
    font-size: 24px;
    line-height: 1.17;
    font-weight: 600;
    text-align: center;

    @media screen and (min-width:768px){
    font-size: 56px;}
}

.contacts-modal--btn-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    cursor: pointer;
    border-radius: 50%;
    border: 1.5px solid $accent-color;
    height: 32px;
    width: 32px;
    padding: 0;
    background-color: $background-color;
    fill: $accent-color; 
}