.footer {
  background-color: #001414;
  max-width: 100%;
}

.footer-container {
  padding: 25px 32px 24px 16px;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 40px 50px 40px 40px;
    flex-direction: row;
  }

  @media screen and (min-width: 1280px) {
    padding: 40px 178px 40px 40px;
  }
}

.footer-logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  max-width: 125px;
  height: 56px;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 61px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 187px;
    margin-bottom: 0;
    margin-right: 118px;
  }
}

.footer-menu {
  display: flex;
  gap: 160px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    gap: 89px;
    margin-right: 74px;
  }

  @media screen and (min-width: 1280px) {
    gap: 217px;
    margin-right: 281px;
  }
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--primary-text-color);
}

.footer-menu-link {
  font-size: 16px;
  line-height: 1;
  color: var(--primary-text-color);
}

.footer-social-list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: column;
  }
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--primary-text-color);
  border-radius: 16px;
}

.footer-contacts-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-contacts-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.footer-contacts-link {
  display: block;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  margin-top: 8px;
}
