section {
    padding-top: 40px;
        padding-bottom: 40px;
    @include desktop{
       padding-left: 40px;
       padding-right: 40px;
    }
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
}
textarea {
    resize: none;
    outline: none;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: none;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
    @include mobile {
        width: 320px;
    }
    @include tablet {
        width: 768px;
    }
    @include desktop {
        width: 1280px;
    }
}

// ---------------для секціїї-------------
.takeorder .container {
    background-image: url('../images-accessories/line-1-mob.png'),
    url('../images-accessories/line-2-mob.png');
    background-repeat: no-repeat;
    background-size: contain, contain, cover;
    background-position: 0px 15px, 0px 12px, 0px 0px;
    
    @include tablet {
        background-image: url('../images-takeorder/line-1.png'),
        url('../images-takeorder/line-2.png');
        background-position: 0px 50px, 0px 57px, 0px 0px;
    }
    @include desktop {
        background-image: url('../images-accessories/line-1.png'),
        url('../images-accessories/line-2.png');
        background-position: 0px 60px, 0px 70px, 0px 0px;
    }
}
// -------------головний заголовок

.takeorder-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
    @include min-mobile{
      font-size: 26px;
      line-height: 1.16;
      margin-bottom: 35px;
    }
    @include tablet{
        padding-left: 59px;
      font-size: 56px;
      line-height: 1.18;
      margin-bottom: 51px;
    }
    @include desktop{
       font-size: 56px;
       line-height: 1.18;
       padding-left: 142px;
       margin-bottom: 75px;
    }
}
// ------------заголовок який на дисктопі
.takeorder-subtitle {
@include desktop{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.18;
    color: #FFFFFF;
    margin-bottom: 32px;
}
    @media screen and (max-width:1279px) {
        display: none;
    }
}
// ----------заголовок який видно на мобілці
.takeorder-sub-subtitle {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.18;
    color: #FFFFFF;
    margin-bottom: 24px;
    @media screen and (min-width: 320px) and (max-width: 469px) {
        font-size: 24px;
    }
    @include mobile {
        font-size: 32px;
    }
    @include tablet {
        font-size: 56px;
    }
    @include desktop {
        display: none;
    }
}
// -----------заголовок перед формой
.takeorder-title-top {
   font-weight: 600;
   color: #86E543;
    @include min-mobile{
            font-size: 24px;
            line-height: 1.17;
            margin-top: 32px;
            margin-bottom: 16px;
    }
    @include tablet{
        font-size: 36px;
            line-height: 1.17;
            margin-top: 48px;
            margin-bottom: 48px;
    }
    @include desktop{
        font-size: 36px;
        line-height: 1.17;
        margin-top: 48px;
        margin-bottom: 48px;
    }
}

.takeorder-title-des {
    display: none;
    @include desktop {
        display: block;
        font-size: 56px;
        color: var(--primary-text-color);
    }
}
.takeorder-picture{
    border-radius: 12px;
}
.takeorder-top {
    
  @include desktop{
    display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
.takeorder-mob {
    margin-top: 16px;
}

.takeorder-price-mob {
    margin-bottom: 16px;
}

.takeorder-mob{
 @include desktop {
            display: none;
        }
}
.takeorder-item {
    @include max-mobile{
        width: 60px;
    }
}
.takeorder-picture {
    border-radius: 5px;
}
.takeorder-list {
        display: flex;
        justify-content: space-between;
    }
 .takeorder-list-mob{
    @include max-desktop{
        display: flex;
            gap: 16px;
    }
    @include desktop{
        display: none;
    }
 }
.take-pic-mob{
    border-radius: 4px;
}

.takeorder-part-right {
    @include only-tablet {
        margin-top: 24px;
    }
}

.takeorder-price {
        @include only-tablet {
            display: none;
        }
        @include min-mobile {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 16px;
            }
            @include desktop {
            display: flex;
            align-items: center;
            gap: 40px;
            margin-bottom: 40px;
    }
}

.takeorder-price-old-mob{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        text-decoration-line: line-through;
        color: #8D9289;
}
.takeorder-price-old{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-decoration-line: line-through;
    color: #8D9289;
    @include min-mobile{
        display: block;
        margin-top: 10px;
        font-size: 16px;
    }
    @include only-tablet {
        display: block;
        margin-bottom: 56px;
    }
}
.takeorder-price-new-mob{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        text-align: right;
        color: var(--accent-color);
}
.takeorder-price-new{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: var(--accent-color);
    @include min-mobile{
        display: block;
        margin-top: 24px;
        font-size: 23px;
    }
}



.takeorder-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.17;
    color: #FFFFFF;
}
.takeorder-input {
    display: block;
    width: 100%;
    border-bottom: 1px solid #86E543;
    background-color: transparent;
    font-size: 18px;
    line-height: 1.11;
    color: #FFFFFF;
    margin-bottom: 64px;
    @include min-mobile{
        width: 100%;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 44px;
    }
}
.takeorder-input::placeholder,
.takeorder-textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 1.11;
    @include min-mobile {
            font-size: 16px;
            line-height: 1.25;
            margin-bottom: 44px;
        }
}
.takeorder-textarea {
    width: 589px;
    height: 336px;
    background-color: transparent;
    border: 1px solid #86E543;
    border-radius: 0px;
    padding: 10px;
    color: var(--primary-text-color);
    @include min-mobile{
        width:287px ;
        height: 95px;
    }
}
.takeorder-label-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    color: #CDCDCD;
    margin-bottom: 4px;
    @include min-mobile{
        font-size: 16px;
        line-height: 1.25;
    }
}
.takeorder-label {
    
    @include min-mobile{
        display: block;
    }
    @include desktop{
        display: flex;
        flex-direction: column;
    }
}
 .takeorder-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 @include desktop{
    flex-wrap:nowrap;
    align-items: baseline;
 }
}
.takeorder-price-wrap {
    display: flex;
}

.takeorder-price-sub {
    display: none;
    @include only-tablet {
        display: block;
        margin-left: 40px;
        margin-top: 69px;
    }
}

.takeorder-right {
    @include desktop{
            margin-left: 20px;
            height: 360px;
    }
}
select {
    appearance: none;
    outline: 0;
    border: none;
    background-color: transparent;
    width: 100%;
}
.takeorder-blok-select {
    position: relative;
    display: flex;
    width: 590px;
    height: 20px;
    overflow: hidden;
    border-bottom: 1px solid #86E543;
   
    margin-bottom: 64px;
    @include min-mobile{
        width: 288px;
    }
}
.takeorder-blok-select--last {
    @include desktop {
        margin-bottom: 0;
    }
}
.takeorder-select {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.11;
    color: #FFFFFF;
    cursor: pointer;
}
.takeorder-blok-select::after {
    content: ' ';
    position: absolute;
    right: 10px;
    transform: translateY(-50%);
    display: block;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15.4px 10px 0 10px;
    border-color: #FFFFFF transparent transparent transparent;
}
.takeorder-form-contacts {
    @include only-tablet{
        padding-left: 65px;
        padding-right: 65px;
    }
}
.button--buyitnow-takeorder,
.button--addtocart-takeorder {
    
    @include max-mobile {
        padding-left: 42px;
        padding-right: 42px;
        width: 173px;
        font-size: 16px;
    }
}
.button--addtocart-takeorder {
    @include desktop {
        margin-left: 20px;
     } 
    @include max-desktop {
        margin-top: 24px;
     } 
    @include max-mobile {
        padding-left: 34px;
        padding-right: 34px;
        margin-top: 16px;
    }
       
}
.button-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    @include max-desktop {
        margin-top: 24px;
        
    flex-wrap: wrap;
    
    }
    
}
// .from-icon-check {
//     position: absolute;
//     display: inline-block;
//     top: 3px;
//     left: 7px;
//     width: 16px;
//     height: 15px;
//     border: 2px solid #212121;
//     border-radius: 2px;
//     transition: border 250ms var(--accent-text-color),
//         background-color 250ms var(--accent-text-color);
// }
.contacts-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 20, 20, 0.8);
    opacity: 1;
    transition: opaсity 250ms linear;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.contacts-backdrop .is-hidden {
    transform: translate(-50%, -50%) scale(0.7);
    
}
.contacts-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%) scale(1);
    width: 272px;
    opacity: 1;
    background-color: var(--background-color);
    padding-top: 100px;
    padding-bottom: 100px;
    transition: transform 250ms linear, opacity 250ms linear;
    @media screen and (min-width:768px){
        top: 200px;
        width: 688px;
        gap: 80px;
        padding-top: 88px;
        padding-bottom: 88px;}
    @media screen and (min-width:1280px){
        top: 360px;
        width: 768px;}
}
.contacts-modal-text {
    display: block;
    font-size: 24px;
    line-height: 1.17;
    font-weight: 600;
    text-align: center;
    color:var(--primary-text-color);
    @media screen and (min-width:768px){
    font-size: 56px;}
}
.button--ok{
    padding: 16px 75px;
    font-size: 16px;
    line-height: 1.19;
    text-transform: uppercase;
    color: var(--background-color);
    transition: box-shadow 250ms linear;
    &:hover, &:focus {
        box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 0px 4px 10px rgba(255, 255, 255, 0.1);
        }
    @media screen and (min-width:768px){
        font-size: 32px;
        padding: 16px 132px;}
}
.contacts-modal--btn-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    cursor: pointer;
    border-radius: 50%;
    border: 1.5px solid var(--accent-color);
    height: 32px;
    width: 32px;
    padding: 0;
    background-color: transparent;
}
.modal__close-icon {
    fill: var(--accent-color);
}